 <div id ="header">
 	<center>
 		<h3>Create Questions</h3>
 	</center>
 </div>
 <hr>
 <center>
 	<div id ="mid">
 		<div class="field">
 			<br>
 			<br>
 			</div>
 		<button type="submit" value="Submit">Submit</button>
 	</center>
 </div>
 <hr>
 <div id="footer">
 </div>


