<center>
	<div id="header">
		<h3>Welcome to the Appraisal System</h3>
	</div>
	<div id="mid"><br><br>
		<h4> Click here for Employee or Admin <%= link_to "Log In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> </h4>
	</div>
	<div id="footer">
	</div>
	
</center>
	

	
	
